@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }

  .container2 {
    max-width: 1100px;
  }
}
@media (min-width: 1536px) {
  .container2 {
    max-width: 1100px;
  }
  .container {
    max-width: 1200px;
  }
}

.boxWidget {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px 0px;
  background: #eef2f3;
}
.boxWidgetLeft {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px 10px;
  background: #eef2f3;
}

.movil {
  background: #FBF4F4;
  padding: 30px 15px 0px;
}
.friendname {
  color: #00a59b;
  font-weight: bold;
}
.link1 {
  font-size: 0.8rem;
  color: #00a59b;
  font-weight: bold;
}

.button1 {
  width: 100%;
  background: #58595b;
  color: #fff;
  padding: 5px 20px;
  left: 20px;
  border-radius: 5px;
  background: rgb(119, 119, 119);
  background: linear-gradient(
    0deg,
    rgba(119, 119, 119, 1) 0%,
    rgba(156, 156, 156, 1) 35%,
    rgba(199, 199, 199, 1) 100%
  );
  font-weight: bold;
}
.button2 {
  text-align: center;
  display: inline-block;
  min-width: 180px;
  background: #00a59b;
  color: #fff;
  padding: 5px 20px;
  left: 20px;
  border-radius: 5px;
  font-weight: bold;
}
.button3 {
  min-width: 180px;
  background: #58595b;
  color: #fff;
  padding: 5px 20px;
  left: 20px;
  border-radius: 5px;
  background: rgb(119, 119, 119);
  background: linear-gradient(
    0deg,
    rgba(119, 119, 119, 1) 0%,
    rgba(156, 156, 156, 1) 35%,
    rgba(199, 199, 199, 1) 100%
  );
  font-weight: bold;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 1px;
  top: 15px;
}
.bm-burger-bars {
  background: #00a59b;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}
.bm-cross {
  background: #bdc3c7;
}
.bm-menu {
  background: #d5eceb;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.bm-item-list {
  padding: 0.8em;
}
.bm-item {
  display: block;
  color: #bdc3c7;
}

.coverContainer {
  position: relative;
  width: 100%;
}

.changeCoverButton {
  position: absolute;
  background: #58595b;
  color: #fff;
  padding: 5px 10px;
  left: 30px;
  bottom: 30px;
  border-radius: 5px;
}

.coverImage {
  z-index: -1;
  height: 280px;
  width: 100%;
  border-radius: 0px 0px 30px 30px;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
}

@media only screen and (max-width: 1024px) {
  .coverImage {
    height: 150px;
  }
  .changeCoverButton { 
    left: 20px;
    bottom: 20px;
  }
}
